# Point-to-point link to RR2 (bkk20)
[Match]
Name=vlan212-p2

[Link]
MTUBytes=1500

[Network]
Address=10.155.212.1/30
Address=fd00:155:212::1/64
IPv6AcceptRA=false
