# Public services bridge (BGP RR network)

[Match]
Name=vmbr2

[Link]
MTUBytes=1500

[Network]
Address=10.155.100.12/24
Address=fd00:155:100::12/64
IPv6AcceptRA=false

[Route]
# Primary default via RR1
Gateway=10.155.100.1
Metric=100

[Route]
# Backup default via RR2
Gateway=10.155.100.2
Metric=101

[Route]
# IPv6 default via RR1
Gateway=fd00:155:100::1
Metric=100

[Route]
# IPv6 default via RR2
Gateway=fd00:155:100::2
Metric=101
